body #gt-logo {
  height: 1.625rem;
  margin: 0.7rem 0;
}

.navbar-toggler {
  height: 2.25em;
  background-size: contain;
  &:not(.collapsed) {
    background-size: contain;
  }


}

#bottom-header .navbar {
  margin: 1em 0;
}
