.publication-view-page {
  .views-exposed-form {
    margin-bottom: 1em;
  }
  .item-list {
    margin: 1em 0;

    ul {
      li {
        padding: 0.5em 0;

        &.view-list-item::before {
          font-family: FontAwesome;
          content: '\f04d';
          font-size: 0.6em;
          top: -0.3em;
          position: relative;
          left: -0.7em;
          color: #a4925a;
        }
      }
    }
  }

}
