/* GT Title */
#block-gt-calendar-categories h2 {
	font-size: 1.5rem !important;
	color: var(--gt-navy) !important;
}

.gt-sub-heading {
	color: var(--gt-drk-gold);
	background: 0 0;
	position: relative;
	margin: 0 0 1rem;
	padding: 0 0 8px;
	font-size: 1.25rem;
	font-weight: 400;
	font-family: din-2014,sans-serif;
	line-height: 1.01;
}

.heading-title h2 {
	background: 0 0;
	position: relative;
	margin: 0 0 .5rem;
	padding: 0 0 8px;
	font-size: 1.75rem;
	font-weight: 500;
	color: var(--gt-navy);
	font-family: din-2014,sans-serif;
	line-height: 1.01;
}

.heading-title h2::after {
	content: '';
	position: absolute;
	width: 100px;
	height: 2px;
	background: var(--gt-tech-light-gold);
	left: 0;
	bottom: 0;
	z-index: 1;
}


