h5 {
  margin-bottom: 0.2em; }

html {
  font-size: 16px; }

body h1, body h2, body h3, body h4, body h5, body h6, body .h1, body .h2, body .h3, body .h4, body .h5, body .h6 {
  font-family: var(--font-roboto-condensed);
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.5rem;
  color: #404040; }

body #gt-page-title h1.js-quickedit-page-title.page-title {
  color: #404040 !important; }

body #gt-logo {
  height: 1.625rem;
  margin: 0.7rem 0; }

#janushead {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#1e4982));
  background: -webkit-linear-gradient(black, #1e4982);
  background: -o-linear-gradient(black, #1e4982);
  background: linear-gradient(black, #1e4982); }
  #janushead .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  #janushead .janus-logo-container img {
    height: 9em;
    padding: 1em 1em 1em 0; }
  #janushead .janus-header-text {
    padding-top: 1em; }
  #janushead .site-name {
    font-size: 4em;
    color: #dab30f; }
  #janushead .site-subname {
    font-size: 1.5em;
    color: #e5e5e5;
    line-height: 1.2; }
    #janushead .site-subname strong {
      color: #dab30f;
      text-transform: uppercase; }
    #janushead .site-subname em {
      font-style: unset;
      font-size: 0.7em; }

.navbar-toggler {
  height: 2.25em;
  -webkit-background-size: contain;
          background-size: contain; }
  .navbar-toggler:not(.collapsed) {
    -webkit-background-size: contain;
            background-size: contain; }

#bottom-header .navbar {
  margin: 1em 0; }

.logo-footer {
  background-color: #262626; }

.main-container .bio-teaser .image-field img {
  margin-bottom: 1rem; }

.main-container .bio-teaser h2 {
  font-size: 1.6em;
  color: #404040; }
  .main-container .bio-teaser h2 a {
    color: #404040;
    text-decoration: none; }
    .main-container .bio-teaser h2 a:hover {
      text-decoration: underline; }

body .main-container .image-block a.btn {
  display: block;
  padding: 0.2em;
  font-size: 0.9rem; }

article.biography .image-block {
  padding: 1rem;
  margin: 0 auto 1em;
  width: 332px;
  -webkit-box-shadow: 2px 2px 4px #ccc;
          box-shadow: 2px 2px 4px #ccc; }
  @media (min-width: 752px) {
    article.biography .image-block {
      position: relative;
      float: right;
      margin-left: 2em; } }
  article.biography .image-block .text-fields div {
    margin: 0.5em 0.25rem; }

article.biography .field--name-field-position {
  font-weight: bold; }

#gt-banner .flexslider {
  border: none; }
  #gt-banner .flexslider .flex-direction-nav a:before {
    font-size: 32px;
    color: white;
    text-shadow: 0 0 4px #808080cc; }

#gt-banner ul.slides li {
  height: 70vh; }

#gt-banner article.hero_sliders {
  height: 100%;
  overflow: hidden;
  position: relative; }
  #gt-banner article.hero_sliders img.flexslider-image-object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 1; }
  #gt-banner article.hero_sliders .text-content {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 5em;
    z-index: 10;
    width: 100%; }
    #gt-banner article.hero_sliders .text-content .text-background {
      background-color: #5d5d5da6;
      padding: 1em;
      border-radius: 5px;
      color: #ffffff; }
    #gt-banner article.hero_sliders .text-content h2 {
      color: #ffffff; }
    #gt-banner article.hero_sliders .text-content .m-1 {
      margin: 0 !important; }
    #gt-banner article.hero_sliders .text-content .field--name-field-subtitle {
      margin-bottom: 1em; }

article.article .created-date {
  margin-bottom: 1em;
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
