// HTML Entities
h5 {
  margin-bottom: 0.2em;
}

html {
  font-size: 16px;
}

body {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--font-roboto-condensed);
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0.5rem;
    color: $brand_secondary;
  }

  #gt-page-title h1.js-quickedit-page-title.page-title {
    color: $brand_secondary !important;
  }
}

.margin-bottom-1em {
  margin-bottom: 1em;
}
.file--application-pdf::before {
  padding-right: 0.4em;
}

.main-container a, .main-container a.link {
  text-decoration: underline;
}

.field--name-field-detail-page-link a {
  background: var(--gt-gold);
  border: 0 transparent;
  border-radius: 2px;
  color: var(--gt-black);
  font-weight: 500;
  font-size: 1rem;
  padding: .5em .75em;
  text-decoration: none;

  &:hover {
    background: var(--gt-tech-light-gold);
  }
}

